@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

@font-face {
    font-family: 'hand';
    src: url('../fontes/Day\ Light.otf') format(opentype);
    font-weight: normal;
    font-size: normal;
} 

:root {
    /* FONTES */
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: 'Passion One',"Work Sans", sans-serif;
    --fonte-cordel: 'hand', arial, sans-serif;

    /* CORES */
    --rosita: #ff4564;
    --verdito: #22ff00;
    --verdito-apagado: #c0ffc9c7;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte-padrao);
    background-color: white;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte-titulo);
    font-size: 4em;
    font-variant: small-caps;/* TODAS AS LETRAS MAIUSCULAS MAS AS PRIMEIRAS LETRAS SÃO MAIORES */
}

header > p {
    padding-bottom: 50px;
}

a {/* REGRA GERAL PARA TODOS OS LINKS */
    transition: 0.3s;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    color: var(--verdito);
    text-decoration: underline;
}

header a:active {
    color: var(--verdito-apagado);
}

main {
    background-color: white;
}

section {
    padding-top: 10vh;/* 10% DE TUDO QUE VC VÊ NA HORIZONTAL */
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte-cordel);
    font-size: 3.5vw;/* DEPENDENDO DA LARGURA ELE SE ADAPTA */
    line-height: 2em;
}

section > p {
    padding-bottom: 2em;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.471);
}

section.imagem > p {/* PRIMEIRA CLASS */
    display: inline-block;/* VIRA UM BLOCO ADAPTAVEL */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.677);
    text-shadow: 1px 1px 0px black;
}

section.fundo-escuro > p {/* SEGUNDA CLASS */
    background-color: rgba(0, 0, 0, 0.9);
}

section#img-moderno-flor {
 /* ANTES DE CARREGAR A FOTO, SERÁ MOSTRADO A COR AMARELA */
    background-color: yellow;

    background-image: url('../imagens/fundo-cordel-moderno01.jpg');
    background-position: right center;
}

section#img-moderno-livro {
    background-color: rgb(224, 204, 178);
    background-image: url('../imagens/fundo-cordel-moderno02.jpg');
}

section#img-pernilongo-fumaca {
    background-color: gray;
    background-image: url('../imagens/fundo-cordel-pernilongo01.jpg');
    background-position: top center;
}

section#img-pernilongo-ouvido {
    background-color: #bca49a;
    background-image: url('../imagens/fundo-cordel-pernilongo02.jpg');
    background-position: right center;
}

section#img-desconfianca-vila {
    background-color: #1e810e;
    background-image: url('../imagens/fundo-cordel-desconfianca01.jpg');
    background-position: center bottom;
}

section#img-desconfianca-mulher {
    background-color: red;
    background-image: url('../imagens/fundo-cordel-desconfianca02.jpg');
    background-position: top center;
}

section#img-catende-caju {
    background-color: lightcoral;
    background-image: url('../imagens/fundo-cordel-catende-caju.jpg');
    background-position: center center;
}

section#img-catende-casa {
    background-color: darkgray;
    background-image: url('../imagens/fundo-cordel-catende-casa.jpg');
}

section#img-catende-cana {
    background-color: lightgreen;
    background-image: url('../imagens/fundo-cordel-catende-cana.jpg');
}

aside {
    background: gray url('../imagens/fundo-cordel-catende-aside.jpg') left center no-repeat fixed;/* SHORTHAND */
    background-size: cover;
}

article {
    background-color: white;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.688);
}


article h3 {
    padding: 10px;
    color: white;
    background-color: black;
    text-align: center;
    font-variant: small-caps;
    font-size: 2em;
}

div.video {/* ALINHAMENTO DO VIDEO */
    background-color: darkgray;
    padding-bottom: 75.6%;/* DIVIDIR A ALTURA PELA LARGURA E MULTIPLICAR POR 100 */
    position: relative;
}

div.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

footer p {
    padding: 20px 0px 20px 0px;
}

footer a {
    padding: 30px 15px 30px 15px;
    font-weight: bolder;
    color: var(--rosita);
    text-decoration: overline;
}

footer a:hover {
    color: var(--verdito);
    text-decoration: underline;
}

footer a:active {
    color: var(--rosita);
}

/* CELULARES E TABLETS */
@media (max-width: 710px) {
    section {
        padding: 30px 0px 30px 30px;
        font-size: 1.2em;
    }

    aside h2 {
        font-size: 1.2em;
    }
}

@media (max-width:450px) {
    article h3 {
        font-size: 1.3em;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 6vw;
    }

    section {
        padding: 15px;
        font-size: 6vw;
    }

    section.imagem {
        padding: 25px;
    }

    section.imagem p {/* CENTRALIZA */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

