@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    /* FONTES */
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo: 'Passion One', arial, sans-serif, serif;

    /* CORES */
    --rosita: #ff4564;
    --verdito: #22ff00;
}

* {/* PARA TER 100% DO HTML */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {/* DECLARADO UMA FONTE E COR BASE */
    font-family: var(--fonte-padrao);
    background-color: white;
}

header {
    background-color: black;
    text-align: center;
}

header > h1 {
    padding: 50px;
    color: white;
    font-family: var(--fonte-titulo);
    font-variant: small-caps;/* LETRA MAIUSCULA MAIOR QUE TODAS AS LETRAS */
    font-size: 4em;
}

div#biblioteca h1 {
    padding: 30px;
    color: black;
    background-color: white;
    text-align: center;
    font-variant: small-caps;
    font-weight: 600;
    text-shadow: 6px 1px 4px #0000001a;
}

main {
    font-size: 1.4em;
}

section {
    text-align: center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.471);
}

section p {/* TODO PARAGRAFO DO SECTION */
    padding: 25px;
    font-weight: bolder;
    font-variant: small-caps;
}

section a {/* TODO LINK  DO  SECTION */
    padding: 25px 0px;/* AREA DE CLICK MAIOR */
    color: white;
    text-decoration: none;
}

section a:hover {/* MOUSE EM CIMA */
    text-decoration: underline;
}

section a:active {/* QUANDO CLICA */
    color: var(--rosita);
}

section a:visited {/* QUANDO JÁ FOI VISITADO */
    color: var(--verdito);
}

section#milton {
    position: relative;/* CENTRALIZAÇÃO VERTICAL DO ARTICLE */
    background: red url('../imagens/fundo-index-teclado.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 60vh;
    margin-bottom: 40vh;/* ESPAÇAMENTO PARA EFEITO PARALLAX */
}

section#chico {
    position: relative;
    background: green url('../imagens/fundo-index-pernilongo.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 60vh;
    margin-bottom: 40vh;
}

section#ira {
    position: relative;
    background: brown url('../imagens/fundo-index-homem.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 60vh;
    margin-bottom: 40vh;
}

section#ascenso {
    position: relative;
    background: lightgreen url('../imagens/fundo-index-trem.jpg') center center no-repeat fixed;
    background-size: cover;
    height: 60vh;
    margin-bottom: 40vh;
}

article.center-text {/* CENTRALIZA VERTICALMENTE */
    position: absolute;
    left: 50%;
    top: 50%;
    
    background-color: rgba(0, 0, 0, 0.716);
    transition: 0.7s;
    transform: translate(-50%, -50%);
}

article.center-text:hover {
    background-color: black;
    border-radius: 10px;
}

footer {
    display: flex;/* UM ABAIXO DO OUTRO */
    flex-direction: column;/* SEMPRE EM COLUNA */
    max-height: 600px;/* PODE TER NO MAXIMO 600PX */
    padding: 30px 0px 30px 0px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
    font-variant: small-caps;
}

footer p {
    width: 100%;
    margin: auto;
    padding: 10px;
}

footer a {
    padding: 10px;
    color: var(--rosita);
    text-decoration: none;
}

footer p:hover {
    font-size: 1.1em;
    /* QUANDO O MOUSE TIVER EM QUALQUER ELEMENTO P, OS LINKS TERÃO ESTA COR */
    a{    
        color: var(--verdito);
    }
}

footer a:hover {/* SO QUANDO O MOUSE PASSA NO LINK */
    color: var(--verdito);
    font-size: 1.2em;
    text-decoration: underline;
}

footer ul {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    list-style-type: none;
}

footer ul:hover {
    font-size: 1.1em;
    /* QUANDO O MOUSE TIVER EM QUALQUER ELEMENTO UL, OS LINKS TERÃO ESTA COR */
    a {
        color: var(--verdito);
    }
}

footer li {
    padding-top: 10px;
}

footer li a {
    padding: 10px;
}

@media (max-width:768px) and (orientation:landscape) {
/* NA HORINZONTAL DE TABLETS E CELULARES */

    footer p:hover {
        font-size: 1em;/* TAMANHO NORMALIZA */
    }

    footer a:hover {
        font-size: 1em;/* TAMANHO NORMALIZA */
    }

    footer ul:hover {
        font-size: 1em;/* TAMANHO NORMALIZA */
        a {/* FAZ APENAS UM LINK FICAR VERDE, POIS ANTES FOI DEFINIDO QUE TODOS FICARIAM VERDE */
            color: var(--rosita);
        }
    }

    footer li:hover {/* QUANDO MOUSE PASSAR NAS LISTAS TODO LINK TEM COR ESTA COR */
        a {
            color: var(--verdito);
        }
    }
}

@media (max-width:768px) {
/* NA VERTICAL DE TABLETS E CELULARES */

    main {
        font-size: 1em;
    }

    article.center-text {
        width: 300px;
    }

    footer p:hover {
        font-size: 1em;
    }

    footer a:hover {
        font-size: 1em;
    }

    footer ul:hover {
        font-size: 1em;
        a {
            color: var(--rosita);
        }
    }

    footer li:hover {
        a {
            color: var(--verdito);
        }
    }
}

/* CONFIGURAÇÃO GERAL DOS CELULARES */
@media (max-width:536px) {

    article.center-text {
        width: 270px;/* EVITAR QUEBRA DE LINHAS */
    }
}

@media (max-width:320px) {/* EVITAR QUEBRA DE LINHA */
    footer {
        font-size: 0.9em;
    }

    footer p {
        width: 170px;
    }
}